.Filters {
    padding-left: 20px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    /* border-bottom: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
}

.filter {
    text-align: center;
    border-right: 2px solid lightgray;
    width: 20%;
}