.OrderItem {
    width: 100%;
    height: 80px;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    transition: height 150ms ease-in;

}

.header {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header span {
    /* border: 1px solid black; */
    text-align: center;
    width: 20%;
    overflow: hidden;
}

.expanded {
    height: 300px;
}

.moreInfo {
    /* background-color: red; */
}

.items {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    width: 30%;
}